<div class="field-unit__label">
  <%= f.label field.attribute_key, field.attribute %>
</div>
<div class="field-unit__field">
  <%= f.select(field.attribute_key, nil, {}, multiple: true) do %>
  <%= options_for_select(field.associated_resource_options, field.selected_options) %>
  <% end %>
</div>
# app/views/fields/has_many_roles_field/_index.html.erb
<%= field.data.pluck(:name).join(' ') %>
# app/views/fields/has_many_roles_field/_show.html.erb
<%= field.data.pluck(:name).join(' ') %